<div style='height: 600px; width: 100%; border:1px solid #ccc;'>
    <timeline [events]="results.events" [filepath]="'./assets/data/sample4.csv'" [title]="results.title" [scale]="results.scale" (clicked)="setResult($event)"></timeline>
</div>
<!-- <div style='height: 600px; width: 1400px; border:1px solid #ccc;'>
    <timeline [events]="results.events" [filepath]="'./sites/RnD_JIB/Documents/dataViz/timeline/assets/data/sample1.csv'" [title]="results.title" [scale]="results.scale" (clicked)="setResult($event)"></timeline>
</div> -->
<!-- 
<timeline [events]="results.events" [filepath]="'./sites/RnD_JIB/Documents/dataViz/timeline/assets/data/sample2.csv'" [title]="results.title" [scale]="results.scale" (clicked)="setResult($event)"></timeline>
<timeline [events]="results.events" [filepath]="'./sites/RnD_JIB/Documents/dataViz/timeline/assets/data/sample3.csv'" [title]="results.title" [scale]="results.scale" (clicked)="setResult($event)"></timeline>
 -->